.add-poster {
  position: relative;
}
.add-poster {
  height: 33vh;
  position: fixed;
  bottom: 0;
  left: 0;
  right:  0;
  background: white;
  box-shadow: 0 -6px 21px 0px rgba(0,0,0,0.125), 0 3px 9px 2px rgba(0,0,0,0.14);
  transition: all 0.5s;
  padding: 1rem 1rem 0;
}
.add-poster form {
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 3rem;
}
@media screen and (min-width: 640px) {
  .add-poster form {
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr 1fr;
  }
}
.add-poster form label {
  display: block;
  text-align: left;
}
.add-poster form input {
  width: 100%;
  height: 2rem;
}
.add-poster.closed {
  transform: translateY(33vh);
}
.add-poster .btn-raised {
  width: 12rem;
  margin: auto;
}
.toggle {
  background: white;
  color: #ed2e13;
  border-radius: 2px 2px 0 0;
  top: -3rem;
  left: 2rem;
  width: 3rem;
  position: absolute;
  box-shadow: 0 -10px 18px -2px rgba(0,0,0,0.125), 0 -6px 6px 0px rgba(0,0,0,0.14);
}
.toggle:hover {
  background: white;
  color: #f43924;
  box-shadow: 0 -10px 18px -2px rgba(0,0,0,0.125), 0 -6px 6px 0px rgba(0,0,0,0.14);
}
.toggle:focus {
  outline: 0;
  /* IE10+ */
  background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #D0CCCC 500%);

  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #D0CCCC 500%);

  /* Opera */
  background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #D0CCCC 500%);

  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(500, #D0CCCC));

  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #D0CCCC 500%);

  /* W3C Markup */
  background-image: linear-gradient(to top, #FFFFFF 0%, #D0CCCC 500%);
}
.toggle .toggle-icon {
  position: relative;
  visibility: hidden;
}
.toggle .toggle-icon:before, .toggle .toggle-icon:after {
  content: '';
  display: block;
  width: 2rem;
  height: 0.25rem;
  background-color: #ed2e13;
  position: absolute;
  transition: all 0.5s;
  top: 0.5rem;
  left: -0.975rem;
  visibility: visible;
}
.toggle .toggle-icon:after {
  transform: rotate(-90deg);
}
.add-poster.open .toggle-icon:before {
  transform:rotate(-135deg);
}
.add-poster.open .toggle-icon:after {
  transform: rotate(-225deg);
}
